{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    {% if not user.is_authenticated %}
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{form|crispy}}
            <!--{% if request.GET.next %}-->
                <!--<input type="hidden" name="next" value="{{request.GET.next}}">-->
                    <!--&lt;!&ndash;it is used for the next= in the url&ndash;&gt;-->
            <!--{% endif %}-->
            <!--{{ form.as_p }}-->
            <button type="submit">Login</button>
        </form>
        {% else %}
        <br>You are already logged in.<br>
    {% endif %}
{% endblock %}
