

@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300');

body {
    background: url('/static/img/imageedit_1_3839533537.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	color:#fff;
  	background-color:#333;


}
